/* CSS DOCUMENT */
@charset "utf-8";

/*configuraciones generales*/

@font-face {
    font-family: Rubik-titulos;
    src: url(fonts/Rubik-VariableFont_wght.ttf) format(opentype); /*ojo que pusiste que el formato sea opentype y no es, fijate la extención del archivo*/
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Overpass;
    src: url(fonts/Overpass-VariableFont_wght.ttf) format(opentype); /*idem*/
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Overpass-destacados;
    src: url(fonts/Overpass-VariableFont_wght.ttf) format(opentype); /*idem*/
    font-weight: 700;
    font-style: normal;
}

/*configuración de aplicaciones*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*te va a convenir tener seteado acá la tipografía de texto de lectura acá así no tenés que cambiar en todos los elementos la font-family, sólo en los títulos o destacados*/
}

header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    padding: 15px 5%;
}

.logo-landing {
    width: 113px; /*los tamaños de las imágenes se resuelven desde html, si tenés que cambiar el tamaño te conviene cambiar directamente el tamaño del archivo, además tiene que ser del mismo tamaño que se muestra*/
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botonera ul {
    display: flex;
    gap: 10%; /*el gap en porcentajes suele traer problemas, en este momento está haciendo que el tamaño de la caja no se calcule bien, si lo inspeccionás te aparece más pequeño el tamaño de la caja de lo que debería ser, utilizá px mejor*/
    align-items: center;
    margin: 0; /*no repitas! ya declaraste margin/padding en el selector univercal*/
    padding: 0;
    list-style-type: none;
}

/* La sección "sobre mi" quedaba en dos renglones pero encontré que la función "white-space" evita eso ¿Se puede usar?*/
 /*está bien!*/

.botonera a {
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    color: #0d62c2;
    font-weight: 400;
    font-size: 1.2rem;
    text-decoration: none;
    white-space: nowrap;
}

.botonera li a:hover {
    text-decoration: underline;
}

.hablemos {
    background-color: #1466C2;
    color: white;
    padding: 10px 24px;
    border-radius: 30px;
    border: none;
    font-weight: 700;
    font-size: 1.2rem;
    font-family: 'Overpass-destacados', Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.hero {
    height: 100vh;
    background: url('img/hero-fondo.png') no-repeat;
    background-size: cover; /*este tamaño no funciona bien en tamaños de pantalla grandes, es mejor contain, en la devolución escrita está la referencia del por qué*/
    background-position: center;
    display: flex;
    align-items: center; /*esto no produce cambios*/
    padding: 0 10%;
}

.hero-content {
    max-width: 600px;
}

.hero-content h1 {
    font-size: 3.0rem;
    font-weight: 700;
    font-family: 'Rubik-titulos', Arial, Helvetica, sans-serif;
    line-height: 1.2;
}

.hero-content h2 {
    font-size: 2.3rem;
    font-weight: 700;
    font-family: 'Rubik-titulos', Arial, Helvetica, sans-serif;
}

.hero-content p {
    margin: 20px 0 40px;
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

.hero-content .hero-botones {
    display: flex;
    gap: 20px;
}

.hero-botones a {
    position: relative; /*todavía no es momento de utilizar position*/
    display: flex; /*así no se escribe!*/
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
    padding: 12px 20px;
    background: white;
    border-radius: 50px;
    font-family: 'Overpass-destacados', Arial, Helvetica, sans-serif;
    color: #1466C2;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: 700;
}

.sobre-mi h2 {
    font-size: 2.3rem;
    font-family: 'Rubik-titulos', Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 15px;
}

.sobre-mi p {
    display: flex; /*no te olvides de sacar el flex a los textos también además de a las h*/
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px 10%;
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.experiencias {
    padding: 40px 20px;
    max-width: 650px;
    margin: 0 auto;
}

.experiencias h2 {
    font-size: 2.3rem;
    font-family: 'Rubik-titulos', Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px;
}

span {
    font-family: 'Overpass-destacados', Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.experiencias article {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
}

.experiencias h3 {
    font-size: 1.4rem;
    font-family: 'Rubik-titulos', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

.puesto,
.anio {
    font-size: 1.3rem;
    font-family: 'Overpass-destacados', Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.experiencias ul {
    padding-left: 18px;
    margin-top: 10px;
}

.experiencias li {
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    margin-bottom: 6px;
}

.herramientas h2 {
    font-size: 2.3rem;
    font-family: 'Rubik-titulos', Arial, Helvetica, sans-serif;
    font-weight: 700;
    display: flex;
    gap: 15px;
}

.herramientas ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    padding: 40px;
}

.herramientas li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    background-color: #1466C2;
    color: white;
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
}

footer {
    background-color: #2b2b2b;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacto-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.contacto-footer .email,
.contacto-footer .telefono {
    color: #ffffff;
    text-decoration: none;
    font-family: 'Overpass', Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: 400;
}

.contacto-footer a:hover {
    text-decoration: underline;
}

.redes-sociales {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 8px;
}